<h1>All Posts</h1>

<div class="row">
<% @posts.each_with_index do |p, i| %>

	<% if i % 4 == 0 %>
		</div><div class="row">
	<% end %>
		</div>

	<div class="span3">
		<div><%= image_tag p.image.url(:small) %></div>	
		<div><%= p.description %></div>
		<div><%= p.user.email %></div>
		<%= link_to "Go!", p.link %>

		<ul>
		<%= render p.comments %>
		<li><%= render 'comments/form',
				comment: p.comments.build,
				post: p %></li>
		</ul>		
		</div>
<% end %>	

<%= link_to "New Post", new_post_path %>